.specialPrice{
    padding: 0 20px;
    

    p{text-align: center; font-size: 15px; color: #9a9696;}
    h2{text-align: center; font-size: 23px; color: #333; margin-bottom: 20px;}
    .specialPriceWrap{
        width: 1416px;
        margin: 0 auto;

        ul{
            display: flex;
            /* gap: 20px; */
            flex-wrap: wrap;

            li{
                width: 25%;
                text-align: center;
                a{
                    img{}
                    .discountWrap{
                        display: flex;
                        align-items: center;
                        margin-left: 20px;
                        gap: 10px;
                        .discount{
                            font-size: 20px;
                            font-weight: bold;
                            color: #b27542;
                        }
                        .prevdiscount{
                            font-size: 16px;
                            color: #939393;
                            text-decoration: line-through;
                        }
                        .nextdiscount{
                            font-size: 16px;
                            color: #333;
                        }
                    }
                    .coupon{
                        display: flex;
                        align-items: center;
                        margin-left: 20px;
                        gap: 10px;
                        img{}
                        span{
                            font-weight: bold;
                            color: #b27542;
                        }
                    }
                    .specialDesc{
                        font-size: 14px;
                        color: #212121;
                        text-align-last: left;
                        margin-left: 20px;
                    }
                    .seller{
                        font-size: 13px;
                        color: #9f9f9f;
                        text-align-last: left;
                        margin-left: 20px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    .color{
                        border-bottom: 1px solid #ddd;
                        margin: 0 20px 0 20px;
                    }
                    .specialBest{
                        font-size: 12px;
                        color: #b27542;
                        margin-left: 20px;
                        text-align-last: left;
                        margin-top: 10px;
                        
                        .w{
                            color: #6b6b6b;
                            margin-left: 10px;
                        }
                    }
                    .reviewWrap{
                        display: flex;
                        justify-content: space-between;
                        >div{
                            display: flex;
                            margin: 10px 20px;
                            gap: 10px;
                        }
                        .reviewText{
                            font-size: 12px;
                            color: #969696;
                            
                        }
                        .reviewNum{
                            font-size: 12px;
                            color: #969696;
                        }
                        .heart{}
                        .cart{}
                    }
                }
            }
        }
    }
}